.match,
.btn {
  color: white;
}

.reveal {
  text-align: center;
  /* margin-top: 30px; */
}

.revealBtn {
  /* border: none; */

  background-color: inherit;

  cursor: pointer;
  display: inline-block;
}

.gift-box:hover {
  box-shadow: inset 0 0 0 3px rgb(206, 36, 36);
}

.gift-box {
  color: rgb(11, 73, 11);
}

.welcome {
  color: rgb(11, 73, 11);
  margin-right: 30px;
}
